body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #8B4513, #800000, #8B4513, #800000);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: #fff;
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: #800000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 5px solid #8B4513;
    position: relative;
}

.menu-hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;  
}

.menu-hamburger span {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #800000;
    color: white;
    padding: 5px 10px;
    font-size: 1.2em;
    border-radius: 50%;
}

h2 {
    color: #800000;
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.cardapio-title {
    color: #fff;
    background-color: #8B4513;
    padding: 15px;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.cardapio-item {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cardapio-item p {
    margin: 0;
    font-size: 1.3em;
    color: #8B4513;
}

.cardapio-item .descricao {
    font-size: 1.1em;
    color: #555;
}

.cardapio-item .preco {
    font-size: 1.2em;
    color: #800000;
    font-weight: bold;
}

.adicionar-carrinho {
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.adicionar-carrinho:hover {
    background-color: #800000;
}

.menu-carrinho {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #800000;
    color: white;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 9999;
}

.menu-carrinho.open {
    display: block; 
    transform: translateX(0);
}

.menu-carrinho h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.menu-carrinho ul {
    list-style-type: none;
    padding: 0;
}

.menu-carrinho ul li {
    margin: 15px 0;
    padding: 10px;
    background-color: #8B4513;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-carrinho ul li span {
    display: block;
}

.menu-carrinho .fechar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
}

#numero-itens {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8B4513;
    color: white;
    font-size: 1.5em;
    border-radius: 50%;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: pointer;
}

.limpar-carrinho {
    background-color: #800000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}

.limpar-carrinho:hover {
    background-color: #8B4513;
}

.remover-item {
    background-color: #800000;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.remover-item:hover {
    background-color: #8B4513;
}